@import "bootstrap-sprockets";
@import "bootstrap";


.main-container {
	margin-top: 60px;
}

.center {
	text-align: center;
}

.no-margin {
	margin: 0 0 0 0;
}

.no-padding {
	padding: 0 0 0 0;
}

.big-button {
	width: 100%;
    margin-top: 10px;
}

.header-button {
	margin-right: 3px;
	margin-left: 3px;
}

.api-uninitialized {
	background-color: #EFAEAE;
}


/*flash*/


.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 /*Forms*/

#nation-form {
    padding-left: 30px;
    padding-right: 30px;
}

.my-button {
    width: 100% !important;
}

.embedded-nation-form {
    margin: 10px;
}