<div class="jumbotron">
  <h1 class="center">You're lost!</h1>
	<p class="center">Please return home <% if current_user %><%= link_to t(:return_to_home), user_path(current_user) %><% else %><%= link_to t(:return_to_home), root_path %><% end %></p>
